<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>MLIS, Media Archival Studies</h1>
            <span>University of California, Los Angeles</span>
            <span><address>Los Angeles, CA</address><time>2019 to 2021</time></span>
        </header>
        <ul type="disc">
            <li>Co-Chair, Association of Moving Image Archivists (AMIA) Student Chapter</li>
            <li>Theresa and Roy Aaron Scholarship, 2019 to 2020</li>
        </ul>
    </article>
    <article>
        <header>
            <h1>BA, Cinema and Media Studies</h1>
            <span>University of Chicago</span>
            <span><address>Chicago, IL</address><time>2011 to 2015</time></span>
        </header>
        <!--<p>
            <em>Dissertation: Te dicit scripta nec, nec illud decore partem et.</em>
        </p>-->
    </article>
</section>
