<section class="thirteen columns">
    <h1>Professional Experience</h1>
    <article>
        <header>
            <h1>Video Archivist & Post-Production Specialist</h1>
            <span><address>USC Libraries Digital Repository, Los Angeles, CA</address><time>September 2022 to Present</time></span>
        </header>
        <!--<p>Lorem ipsum dolor sit amet, his et viris petentium philosophia,
            at vix debitis deleniti. At vis velit volumus alienum, agam vocent assueverit usu ex. </p>-->
    </article>
    <article>
        <header>
            <h1>Assistant Conservator</h1>
            <span><address>UCLA Library AV Preservation & Conservation, Los Angeles, CA</address><time>August 2021 to July 2022</time></span>
        </header>
        <!--<p>Lorem ipsum dolor sit amet, his et viris petentium philosophia,
            at vix debitis deleniti. At vis velit volumus alienum, agam vocent assueverit usu ex. </p>-->
    </article>
    <article>
        <header>
            <h1>Archivist and Member of Board of Directors</h1>
            <span><address>Al Larvick Conservation Fund, New York, NY</address><time>July 2020 to Present</time></span>
        </header>
        <!--<p>Qui bonorum menandri intellegebat ex, mel quando oblique an. Et eam virtute debitis philosophia,
            unum ancillae disputationi vim in. Ipsum vidisse meliore ex eum,
            delectus tacimates conclusionemque has ei. Eam ubique cetero scribentur ne.</p>-->
    </article>
    <article>
        <header>
            <h1>Mellon Foundation Community Archives Intern</h1>
            <span><address>Skid Row History Museum and Archive, Los Angeles, CA</address><time>September 2020 to June 2021</time></span>
        </header>
        <!--<p>Lorem ipsum dolor sit amet, his et viris petentium philosophia,
            at vix debitis deleniti. At vis velit volumus alienum, agam vocent assueverit usu ex. </p>-->
    </article>
    <article>
        <header>
            <h1>AV Scholar, Center for Primary Research and Training</h1>
            <span><address>UCLA Library Special Collections, Los Angeles, CA</address><time>October 2019 to June 2021</time></span>
        </header>
        <!--<p>Qui bonorum menandri intellegebat ex, mel quando oblique an. Et eam virtute debitis philosophia,
            unum ancillae disputationi vim in. Ipsum vidisse meliore ex eum,
            delectus tacimates conclusionemque has ei. Eam ubique cetero scribentur ne.</p>-->
    </article>
    <article>
        <header>
            <h1>Digital Resource Development Initiative</h1>
            <span><address>June L. Mazer Lesbian Archives, West Hollywood, CA</address><time>June 2020 to September 2020</time></span>
        </header>
        <!--<p>Latine bonorum deserunt at nam. Mea nisl officiis eu, propriae similique has te, mei an brute meliore electram.
            Quo admom omittantur ei, etiam principes at eos. Sit vocent commodo ceteros in, at mel idque everti.</p>-->
    </article>
    <article>
        <header>
            <h1>Collections Manager and Client Services Director</h1>
            <span><address>Chicago Film Archives, Chicago, IL</address><time>Jaunary 2015 to May 2019</time></span>
        </header>
        <!--<p>Mucius sententiae et mei, nec an diam ignota, tale epicurei intellegebat ne sit. Sumo pertinacia contentiones duo ei.</p>-->
    </article>
    
</section>
