<section class="thirteen columns">
    <h1>Volunteer Work</h1>
    <article>
        <header>
            <h1>Co-Organizer</h1>
            <span><address>Home Movie Day, Los Angeles, CA</address><time>2020</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Student Volunteer</h1>
            <span><address>Visual Communications, Los Angeles, CA</address><time>April 2020 to June 2020</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Volunteer and Co-Organizer</h1>
            <span><address>Home Movie Day</address><time>2015 to 2019</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Film Cataloger</h1>
            <span><address>Niles Essanay Silent Film Museum, Fremont, CA</address><time>July 2019 to August 2019</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Projectionist, Fireguard, Show Captain, Web Chair</h1>
            <span><address>Doc Films, Chicago, IL</address><time>2012 to 2015, October 2018 to March 2019</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Animal and Bird Care</h1>
            <span><address>Peggy Notebaert Nature Museum, Chicago, IL</address><time>October 2017 to July 2018</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Resource Center</h1>
            <span><address>Old Town School of Folk Music, Chicago, IL</address><time>October 2016 to March 2017</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Pre-screening Reviewer and Programming Assistant</h1>
            <span><address>Chicago International Film Festival, Chicago, IL</address><time>2015 to 2016</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Festival Programming Assistant</h1>
            <span><address>Chicago International Children's Film Festival, Chicago, IL</address><time>June 2014 to October 2014</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Production Assistant</h1>
            <span><address>Filmspotting, Chicago, IL</address><time>July 2013 to September 2013</time></span>
        </header>
    </article>
</section>
