<section class="thirteen columns">
    <h1>Presentations and Programming</h1>
    <article>
        <header>
            <h1>"Virtual Talk-Shop: Los Angeles Home Movie Day 2020"</h1>
            <span><address>L.A. as Subject, Los Angeles, CA</address><time>September 17, 2020</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>"In Our Time: New Taiwan Cinema"</h1>
            <span><address>filmfront, Chicago, IL</address><time>March to April 2019</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>"Rare Experience: Projecting Original and Unique Materials"</h1>
            <span><address>Association of Moving Image Archivists, Portland, OR</address><time>November 2018</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>"CollectiveAccess 101"</h1>
            <span><address>Creating Community Through Digital Futures, Chicago, IL</address><time>November 2018</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>"Out of the Vault: Secrets of Nature"</h1>
            <span><address>Chicago Filmmakers, Chicago, IL</address><time>June 23, 2018</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>"Archiving Your Family History"</h1>
            <span><address>Arts Incubator, Chicago, IL</address><time>June 2018</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>"The Woman Behind the Camera: Uncovering an Overlooked Perspective"</h1>
            <span><address>Association of Moving Image Archivists, New Orleans, LA</address><time>December 2017</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>"The Archive as Artists' Source"</h1>
            <span><address>Alternative Histories, Alternative Archives, Chicago, IL</address><time>October 2017</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>"[Untitled Nudist Film]"</h1>
            <span><address>Association of Moving Image Archivists, Pittsburgh, PA</address><time>November 2016</time></span>
        </header>
    </article>
</section>
