<section class="thirteen columns">
    <h1>Skills</h1>
    <article>
        <header>
            <h1>Film Handling, Projection & Scanning</h1>
            <span><address>35mm, 16mm, 8mm, Super 8mm, DCP</address></span>
        </header>
    </article>
     <article>
        <header>
            <h1>Video Preservation</h1>
            <span><address>VHS, Betacam, Betamax, U-Matic, Hi8, ½” open reel video, DV</address></span>
        </header>
    </article>
    <article>
    <article>
        <header>
            <h1>Audio Handling & Reformatting</h1>
            <span><address>1/4" open reel, audiocassette, vinyl record</address></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Digital Preservation</h1>
            <span><address>File integrity, digital forensics, disk imaging, file analysis, emulation</address></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Archival Systems</h1>
            <span><address>CollectiveAccess, ArchivesSpace, Airtable, Filemaker</address></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Editing & Design</h1>
            <span><address>Adobe Premiere, Photoshop and Audition, Final Cut Pro, Open Broadcaster Software (OBS)</address></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Programming</h1>
            <span><address>FFmpeg, Bash/Command Line, GitHub, HTML, CSS</address></span>
        </header>
    </article>
</section>
