<section class="thirteen columns">
    <h1>Skills</h1>
    <article>
        <header>
            <h1>Film Handling, Projection &/or Scanning</h1>
            <span><address>35mm, 16mm, 8mm, Super 8mm, DCP</address></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Audio Handling & Reformatting</h1>
            <span><address>1/4" open reel, audiocassette, vinyl record</address></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Archival Systems</h1>
            <span><address>CollectiveAccess, ArchivesSpace, Airtable, Filemaker</address></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Editing & Design</h1>
            <span><address>Adobe Premiere and Photoshop, Final Cut Pro</address></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Programming</h1>
            <span><address>FFmpeg, Bash/Command Line, Github, HTML, CSS</address></span>
        </header>
    </article>
</section>
